<div class="voucher-detail">      
    <img class="voucherdetail-top-image" src="{{voucher.imageLink}}">    

    <h2 class="contentHeader-text">{{voucher.contentHeader}}</h2>

    <h5 class="content-text">{{voucher.content}} </h5>

    


    <div class="card card-code" style="width: 500px;">
        <div class="card-body">
            <h4 class="voucher-note"> {{voucher.voucherNote}} </h4>

            <div class="clipBoard">
                <!-- Target clipboard -->
                <input id="foo" type="text" value="{{voucher.Code}}" readonly />

                <!-- Trigger clipboard -->
                <button class="btn" data-clipboard-target="#foo">
                    Copy!
                </button>
            </div>

        </div>      
    </div>

    
    
    <button type="button" class="btn btn-primary btn-findvoucher">Tìm thêm Voucher mới</button>

</div> 

<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>

<script>
    let clipboard = new ClipboardJS('.btn');
</script>
