<link rel="stylesheet" href="bootstrap.min.css" />
<script src="jquery.slim.min.js"></script>
<script src="popper.min.js"></script>
<script src="bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="vertical-nav bg-dark" id="sidebar" style="height: 1800px;">
  <div class="py-4 px-3 mb-4 bg-dark">      
    <div class="media-body">
      <h4 class="font-weight-white text-muted mb-0">Verical Navbar</h4>
    </div>      
  </div>

  <p class="text-white font-weight-bold text-uppercase px-3 small pb-4 mb-0">ADMIN PAGE</p>

  <ul class="nav flex-column bg-dark mb-0">
      <li class="nav-item">
      <a href="/admin/usermanage" class="nav-link text-light bg-dark">
        User Management
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/productmanage" class="nav-link text-light bg-dark">
        Product Management
      </a>
    </li>
    
    <li class="nav-item">
      <a href="/admin/ordermanage" class="nav-link text-light bg-dark">
        Order Management
      </a>
    </li>
  </ul>
</div>
<div class="admin-side" style="height: 1800px;">
    <div class="admin-page-title">
      <p>User Management</p>
    </div>


    <div class ="site-main" >
        <div class="container">
            <div class="box-nav d-flex justify-between" style="padding-bottom: 20px">
                <a href="/admin/newuser" class="border-shadow">
                    <span class="text-gradient"><i class="fas fa-plus-square"></i> New user</span>
                </a>
            </div>
             

            <!-- form handling -->
            
                <table class="table table-bordered table-striped mydataTable">
                    <thead class="thead-dark">
                        <tr>
                            <th>Tài khoản</th>
                            <th>Họ tên</th>
                            <th>SĐT</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Chức vụ</th>
                            <th>Trang thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                      {{#each nguoidung}}
                         <tr>
                            <td>{{TaiKhoan}}</td>
                            <td>{{HoTen}}</td>
                            <td>{{SDT}}</td>
                            <td>{{Email}}</td>                            
                            <td>{{DiaChi}}</td>
                            <td>{{ChucVu}}</td>
                            <td>{{TrangThai}}</td>

                            <td>
                                <form action="/admin/changeuserstatus" method="POST">
                                    <input type="hidden" name="ID" value="{{ID}}">
                                    <button type="submit" class="btn btn-success">Đổi trạng thái</button>
                                </form>
                            </td>

                        </tr>
                                               
                        {{/each}}
                    </tbody>
                </table>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

<script src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>

<script>
    $('.mydataTable').DataTable({"lengthChange": false});
</script>