


<div id='status' class='invisible'>{{errormessage}}</div>

    <div class="mt-4">
        <form action="/search" method="get">
       <div class="search-product">
           <input type="text" name="search" value="" autocomplete="off" style="margin-right: 10px">
           <button type="submit" class="btn-primary">Tìm kiếm</button>
       </div>
       <ul class="brand" style="list-style-type: none;"><h5>Hãng Sản Xuất</h5>
           <li>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="iPhone" value="iPhone" id="defaultCheck1">
                    <h6>
                        <label class="form-check-label" for="defaultCheck1">
                        iPhone
                    </label>
                    </h6>
                </div>
           </li>

           <li>
               <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="SamSung" value="SamSung" id="defaultCheck1">
                    <h6>
                        <label class="form-check-label" for="defaultCheck1">
                        SamSung
                    </label>
                    </h6>
                </div>
           </li>

           <li>
               <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="OPPO" value="OPPO" id="defaultCheck1">
                    <h6>
                        <label class="form-check-label" for="defaultCheck1">
                        OPPO
                    </label>
                    </h6>
                </div>
           </li>

           <li>
              <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Xiaomi" value="Xiaomi" id="defaultCheck1">
                    <h6>
                        <label class="form-check-label" for="defaultCheck1">
                        Xiaomi
                    </label>
                    </h6>
                </div>
           </li>
           <li>
               <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Vivo" value="Vivo" id="defaultCheck1">
                    <h6>
                        <label class="form-check-label" for="defaultCheck1">
                        Vivo
                    </label>
                    </h6>
                </div>
           </li>
           <li>
               <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Nokia" value="Nokia" id="defaultCheck1">
                    <h6>
                        <label class="form-check-label" for="defaultCheck1">
                        Nokia
                    </label>
                    </h6>
                </div>
           </li> 
       </ul>
       </form>
   </div>


	<div id="content" style="padding-left: 400px;">
        <div class="mt-5 mb-5">
            
            <div class="row">

                
                {{#each dienthoai}}
                <div class="col-xs-3 col-md-3 col-lg-3">
                    
                    <div class="card card-phone-item" style="width: 20rem; height:fit-content">
                        <a href="/products/{{this.Slug}}">
                            <img
                                src="/img/{{this.ImageLink}}"
                                class="card-img-top"
                                alt="..."
                                height="300px"
                                width="100px"
                            />
                        </a>
                        
                        {{!-- <div class="card-body">
                            <h5 class="card-title"><b>{{ this.TenDT }}</b></h5>
                        </div> --}}
                        <ul class="list-group list-group-flush">
                            <input type="hidden" class="_id" value="{{DienThoaiId}}">
                            <li class="list-group-item name"><b style="font-size:19px;">{{ this.TenDT }}</b></li>
                            <li class="list-group-item price"><b>Giá:</b>{{number this.Gia }} VNĐ</li>
                            <li class="list-group-item"><b>CPU:</b>{{ this.CPU }}</li>
                            <li class="list-group-item"><b>Màn hình:</b>{{ this.ManHinh }}</li>
                            <li class="list-group-item"><b>Bộ nhớ:</b>{{ this.BoNhoTrong }} </li>
                            <li class="list-group-item"><b>Ram:</b>{{ this.Ram }}  </li>
                        </ul>
                        <div class="card-body">
                            <a href="/products/{{this.Slug}}" class="card-link"><button class="btn btn-primary">Xem chi tiết</button></a>
                            <button class="add-to-cart btn btn-success">Thêm giỏ hàng</button>
                        </div>
                    </div>
                    
                </div>
                {{/each}}

            </div>
        </div>

    </div>

<script>
    if($('div#status').text()!='')
      {
            alert($('div#status').text());
            if(window.confirm && $('div#status').text() == 'Đặt hàng thành công !'){
             window.location = '/';
            }
            else if(window.confirm && $('div#status').text() == 'Giỏ hàng của bạn đang rỗng !'){
                window.location = '/user/cart';
            }
            else if(window.confirm && $('div#status').text() == 'Không tìm thấy loại bạn đang tìm !'){
                window.location = '/';
            }
            else if(window.confirm){
             window.location = '/user/login';
            }
      }
</script>
    

