
	<div id="content">
        <div class="mt-4 mb-5">
            
            <div class="row">*

                
                {{#each dienthoai}}
                <div class="col-sm-6 col-lg-4">
                    
                    <div class="card card-phone-item" style="width: 20rem; height: 40rem">
                        <img
                            src="/img/{{this.ImageLink}}.jpg"
                            class="card-img-top"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">{{ this.TenDT }}</h5>
                            <p class="card-text">Giá: {{ this.Gia }}Đ </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> CPU: {{ this.CPU }} </li>
                            <li class="list-group-item"> Màn hình: {{ this.ManHinh }} </li>
                            <li class="list-group-item"> Bộ nhớ: {{ this.BoNhoTrong }}  </li>
                            <li class="list-group-item"> Ram: {{ this.Ram }}  </li>
                        </ul>
                        <div class="card-body">
                            <a href="/products/{{this.Slug}}" class="card-link">Xem chi tiết</a>
                            <a href="#" class="card-link">Thêm giỏ hàng</a>
                        </div>
                    </div>
                    
                </div>
                {{/each}}

            </div>
        </div>

    </div>


